<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team6_backend.mapper.UserGoodsMapper">
    <insert id="insert" parameterType="com.example.team6_backend.entity.UserGoods">
        INSERT INTO user_goods (req_id, user_id, shelter_id, url, number)
        VALUES (#{reqId}, #{userId}, #{shelterId}, #{url}, #{number});
    </insert>

    <select id="selectByUserId" parameterType="String" resultType="com.example.team6_backend.entity.UserGoods">
        SELECT req_id AS reqId, user_id AS userId, shelter_id AS shelterId, url, number
        FROM user_goods
        WHERE user_id = #{userId}
        ORDER BY req_id DESC;
    </select>
    <delete id="deleteByReqId" parameterType="String">
        DELETE FROM user_goods
        WHERE req_id = #{reqId};
    </delete>
    <update id="updateNumber" parameterType="com.example.team6_backend.entity.UserGoods">
        UPDATE user_goods
        SET number = #{number}
            WHERE req_id = #{reqId};
    </update>
</mapper>